@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome the Parks Site</h1>
    <p>Get to know a few <a href="/parks">parks</a> from all over the US!</p>
</div>
